.place__button-like {
  background-image: url(../../../images/like.svg);
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  width: 20px;
  height: 18px;
  cursor: pointer;
  margin-left: auto;
}
.place__button-like:hover {
  opacity: .6;
  transition: .6s;
  cursor: pointer;
}
.place__button-like:focus {
  outline: none;
  cursor: pointer;
}
.place__button-like::-moz-focus-inner {
  border: 0;
  cursor: pointer;
}
