.popup__button-submit_inactive {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  opacity: .2;
}
.popup__button-submit_inactive:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  opacity: .2;
}
