.popup__button-submit {
  background-color: #000;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 500;
  border: 0;
  width: 358px;
  align-self: center;
  cursor: pointer;
  padding: 4%;
}
.popup__button-submit:hover {
  opacity: .6;
  transition: .6s;
}

@media screen and (max-width: 520px) {
  .popup__button-submit {
    width: 200px;
    height: 40px;
    font-size: 0.9rem;
    line-height: 1rem;
  }
}
