.info-tooltip {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 50px;
    width: 20%;
    height: 30%;
    text-align: center;
    position: relative;
}